<h1>New Post</h1>
<%= form_for @post do |f| %>
  <%= render partial: 'shared/form_errors', locals: {resource: @post} %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= label :image_url, 'Picture URL:' %>
  <%= f.text_field :image_url %>
  <%= f.submit %>
<% end %>
